---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, there  <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Python</li>
        <li>TensorFlow</li>
        <li>Unity ML-Agents</li>
        <li>RAG/LLM frameworks</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      I'm currently a MPhil student in Human-Inspired AI at the University of Cambridge, with
      experience in AI Applications, Digital Twins, Reinforcement Learning, and Intelligent Automation.
      I'm passionate about building practical, human-centered AI systems that are both powerful and 
      meaningful for people.
    </p>
    <p class="text-sm font-light">
      In my spare time, I love travelling, cafe hopping, and unwinding with some
      a book or sketch whenever inspiration strikes.
    </p>
  </div>
</Card>
