---
import Card from "./Card/index.astro";
---

<Card
  title="Experience"
  colSpan="md:col-span-1"
  rowSpan="md:row-span-2"
  href="/experience"
>
  <p class="text-xs md:text-sm text-neutral-200">
    Internships, and leadership experienced so far.
  </p>
</Card>
