---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon/components";
import Tooltip from "./Tooltip/index";
import { Image } from "astro:assets";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">welcome</h6>
        <p class="m-0 font-light text-xl">
        Hi, I'm <span class="font-bold">Estelle</span> 👋
        An AI Development & Application Enthusiast.
        <br />
        Nice to meet you!
        <p class="mt-4">
        Welcome to my personal page. <br />
        Here you can find out more about me and my projects.
        Feel free to wander around and explore 🌼.
        </p>
      </div>
      <div class="flex gap-4 flex-wrap">
        <a aria-label="github profile" href={LINKS.github} target="_blank">
          <Button aria-label="github profile">
            <Icon class="h-6" name="ri:github-fill" />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a aria-label="linkedin profile" href={LINKS.linkedin} target="_blank">
          <Button aria-label="linkedin profile">
            <Icon class="h-6" name="ri:linkedin-box-fill" />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a aria-label="instagram profile" href={LINKS.instagram} target="_blank">
          <Button aria-label="instagram profile">
            <Icon class="h-6" name="ri:instagram-fill" />
            <span class="sr-only">Instagram Profile</span>
          </Button>
        </a>
        <Tooltip client:visible>
          <Button aria-label="easter egg btn">
            <Icon class="h-6" name="ri:emotion-laugh-line" />
            <span class="sr-only">Easter egg button</span>
          </Button>
        </Tooltip>
        <a
          href="https://www.youtube.com/watch?v=KQetemT1sWc"
          target="_blank"
          rel="noopener noreferrer"
        >
          <button class="px-3 py-1 rounded-lg bg-yellow-500 text-white hover:bg-yellow-400 transition">
            🎵 Now Playing
          </button>
        </a>
      </div>
    </div>
    <div
      class="absolute right-[-110px] bottom-[-20px] z-[-1] opacity-90
            md:opacity-100 md:relative md:right-auto md:bottom-auto md:z-auto
            select-none pointer-events-none"
    >
      <!-- outer white circle (frame) -->
      <div class="w-[200px] h-[200px] rounded-full bg-white flex items-center justify-center shadow-xl">
        <!-- inner circle photo -->
        <img
          src="/Estelle.jpg"
          alt="Portrait of Estelle"
          class="w-[190px] h-[190px] rounded-full object-cover"
        />
      </div>
    </div>
  </div>
</Card>
