---
import Card from "./Card/index.astro";
---

<Card
  title="Projects"
  colSpan="md:col-span-1"
  rowSpan="md:row-span-2"
  href="/projects"
>
  <p class="text-xs md:text-sm text-neutral-200">
    A selection of research and personal projects I&apos;ve built/working on.
  </p>
</Card>
